.home {
    padding: 0 4rem;
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 8rem;
    overflow: hidden;
}

.one {
    background: url(../../assets/tamales4.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.two {
    background: url(../../assets/cornfield2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.three {
    background: url(../../assets/molcajete-bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.6);
    z-index: 1;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.home-container h1 {
    font-size: 4.2rem;
    color: #DAC4AC;
    z-index: 5;

}

.home-container h6 {
    color: #fff;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8rem;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    z-index: 5;
}

.home-btn {
    background: #D52941;
    padding: 12px 20px;
    color: #fff;
    font-size: 16px;
    transition: all .2s ease-in-out;
    z-index: 5;
}

.home-btn:hover {
    transition: all .2s ease-in-out;
    background: #AA2034;
}