.home {
    padding: 0 4rem;
    height: 90vh;
    display: flex;
    align-items: center;
    background: url(../../assets/tamales4.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 8rem;
    overflow: hidden;
}

.home::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

.home-container {
    width: 100%;
    z-index: 2;
    /* padding left should only apply for screen with min-width of 1080px!! */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container h1 {
    font-size: 4rem;
    color: #DAC4AC;
}

.home-container h6 {
    color: #fff;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8rem;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
}

.home-btn {
    background: #D52941;
    padding: 12px 20px;
    color: #fff;
    font-size: 16px;
    transition: all .2s ease-in-out;
    /*backdrop-filter: blur(10px);*/
}

.home-btn:hover {
    transition: all .2s ease-in-out;
    background: #AA2034;
}