:root {
    --accentColor: #677B6B;
    --darkGreen: #041B15;
    --green: #364B40;
    --lightGreen: #CADBC0;
    --brown: #A49684;
    --darkBrown: #6F5E53;
    --lightBrown: #BDB2A0;
    --lightestBrown: #F0EBD8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    color: #14110f;
    background: var(--lightestBrown);
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}


